body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #241212;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #3e1b1b;
  border: color(srgb rgb(168, 163, 163) green blue);
  border: 100%;
}
.myText {
  font-size: medium;
  color: azure;
}
